body {
    background-color: #222222;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('Imagenes/fondo-inicio.jpg') fixed;
    background-size: cover;
    color: white;
}

.titulo-principal {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.subtitulo {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}


.contenedor-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.boton {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.boton:hover {
    background: rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
}

.sobre-mi {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre-mi img {
    width: 320px;
    height: 350px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.texto-sobre-mi {
    max-width: 60%;
    padding-left: 20px;
    text-align: left;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: white;
}

hr {
    width: 50%;
    margin: auto;
}

.skills {
    padding: 50px 20px;
    background-color: #303030;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.contenedor-skills {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.categoria {
    flex: 1 1 200px;
    text-align: center;
}

.categoria h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #ddd;
}

.iconos-skills {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.icono {
    width: 50px;
    height: 50px;
}

.icono img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.tarjeta-proyecto img {
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    max-height: 350px;
}

.tarjeta-proyecto img:hover {
    box-shadow: 0px 1px 20px #303030;
}

#seccion-contacto {
    background: #1a1a1a;
    color: white;
    padding: 60px 20px;
    border-radius: 15px;
}

#seccion-contacto h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#seccion-contacto p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    text-align: center;
}

.contenedor-contacto {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.boton-contacto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.boton-contacto:hover {
    background-color: #303030;
}

.boton-contacto img {
    width: 20px;
    height: 20px;
}

@media (max-width: 800px) {
    .texto-sobre-mi {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .contenedor-botones {
        flex-direction: column;
        gap: 10px;
    }

    .boton {
        width: 100%;
        padding: 12px 20px;
    }

    .sobre-mi {
        flex-direction: column;
        text-align: center;
    }

    .tarjeta-proyecto img {
        width: 100%;
        height: auto;
    }

    .tarjeta-proyecto {
        padding: 10px;
    }

    .contenedor-contacto {
        flex-direction: column;
        gap: 20px;
    }

    .boton-contacto {
        width: 80%;
        padding: 12px 20px;
    }

    .boton-contacto img {
        width: 30px;
        height: 30px;
    }

    .boton-contacto span {
        font-size: 1.2rem;
    }

    .contacto button:focus {
        outline: none;
    }
}